[Desktop Entry]
Encoding=UTF-8
Name=SunCoin
Comment=SunCoin P2P Cryptocurrency
Comment[fr]=SunCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SunCoin, eşten eşe kriptografik sanal para birimi
Exec=suncoin-qt %u
Terminal=false
Type=Application
Icon=suncoin128
MimeType=x-scheme-handler/suncoin;
Categories=Office;Finance;
